# This gitignore is only for the Rails backend.
# A separate gitignore for the React frontend can be found at client/.gitignore

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore environmental variables
.env
.env.prod
.env.old

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore byebug debugging history
.byebug_history

# Ignore public, as it is built on deploy
# Place files for /public in /client/public
/public

# Ignore AWS_Hosting_updated.md (currently contains credentials)
AWS_Hosting_updated.md