.Banner {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  height: 360px;
  position: relative;
}

.bannerImgGradient {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 0,
    rgba(0, 0, 0, 0.65) 70%
  );
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.bannerContent {
  background-color: #000000bb;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
  padding-top: 36px;
  position: relative;
  width: 970px;
}

.subjectImg {
  border-color: #9a9a9a;
  border-style: solid;
  border-width: 2px;
  display: flex;
  float: left;
  height: 300px;
  margin-left: -2.25rem;
  margin-right: 1rem;
  width: 300px;
}

.textContainer {
  display: flex;
  padding-bottom: 24px;
  padding-top: 24px;
}

.bannerText {
  display: block;
}

.bannerText .entityType {
  color: #ffff64;
  display: block;
  font-family: Programme-Regular, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

.bannerText .subjectName {
  color: inherit;
  display: block;
  font-family: Programme-Bold, sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.125;
  margin-top: -0.2em;
}

.bannerText .subjectArtist {
  color: inherit;
  display: block;
  font-family: Programme-Bold, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.45;
  margin-bottom: 0.25rem;
}

.bannerText .metadata {
  color: #9a9a9a;
  display: block;
  font-family: Programme-Regular, sans-serif;
  font-size: 1em;
  line-height: 1.45;
}

.bannerText .metadata a:-webkit-any-link {
  color: #7d8fe8;
}

.bannerText a:-webkit-any-link:hover {
  color: #ffff64;
}

.bannerText .yellow {
  color: #ffff64;
}

@media only screen and (max-width: 900px) {
  .Banner {
    height: 27vw;
  }
  .subjectImg {
    height: 20vw;
    margin-left: 0;
    width: 20vw;
  }
  .bannerText .subjectName {
    font-size: 1.5em;
  }
  .bannerText .subjectArtist {
    font-size: 1.3em;
  }
}
