.PageGridFull {
  grid-column: grid-start / grid-end;
}

.Communitydesktop__Buttons {
  text-align: center;
}

.Communitydesktop__Join {
  margin-right: 2.25rem;
}

.Communitydesktop__Buttons Link {
  width: 240px;
  padding: 0.75rem;
}

.SquareButton {
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  overflow-wrap: break-word;
  word-break: break-word;
  transition: background-color 0.1s ease 0s, color 0.1s ease 0s;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  margin: 0px;
  text-align: center;
  padding: 0.75rem 1.313rem;
  vertical-align: top;
  user-select: none;
  appearance: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.SquareButton:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
