.annotation_sidebar_arrow {
  z-index: 1;
  animation: fade_slide_from_right 0.3s 0.2s backwards;
  height: 44px;
  margin: -1.25rem -4px 0 0;
  overflow: hidden;
  position: absolute;
  right: 100%;
  width: 22px;
  // top: 1002.8px;
}

.annotation_sidebar_arrow:before {
  z-index: -1;
  background: #fff;
  bottom: 4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 4px;
}

.annotation_sidebar_arrow svg {
  fill: #fff;
  height: 100%;
  padding-left: 3px;
  fill: #99a7ee;
}

svg:not(:root) {
  overflow: hidden;
}

.u-relative {
  position: relative;

  // top: 502.188px;
}

hide:not(.ng-hide-animate) {
  display: none !important;
}

.annotation_sidebar_unit {
  padding-left: calc(1rem + 4px);
  padding-top: 1rem;
  position: relative;
  background: #fff;
}

.annotation_label {
  word-wrap: break-word;
  word-break: break-word;
  font-family: Programme-Regular, Arial, sans-serif;
  font-size: 0.875em;
  margin-bottom: 1rem;
}

.u-top_margin {
  margin-top: 1rem;
}
.rich_text_formatting {
  word-wrap: break-word;
  word-break: break-word;
  font: 100 1em/1.45 Programme-Regular, Arial, sans-serif;
}
.placeholder-pulsing_content {
  animation: pulse 0.6s infinite;
}

.rich_text_formatting p {
  margin: 1rem 0;
}
.placeholder-text {
  background: rgba(154, 154, 154, 0.35);
  color: transparent;
  display: inline;
}

.placeholder-text-line--short {
  width: 78%;
}
.placeholder-text-line {
  background: rgba(154, 154, 154, 0.35);
  height: 1.2em;
  margin-bottom: 0.2em;
}

.placeholder-text-line--long {
  width: 90%;
}
.placeholder-text-line {
  background: rgba(154, 154, 154, 0.35);
  height: 1.2em;
  margin-bottom: 0.2em;
}

.placeholder-text-line--medium {
  width: 84%;
}
.placeholder-text-line {
  background: rgba(154, 154, 154, 0.35);
  height: 1.2em;
  margin-bottom: 0.2em;
}

.annotation_sidebar_unit {
  padding-left: calc(1rem + 4px);
  padding-top: 1rem;
  position: relative;
  background: #fff;
}

.annotation_sidebar_unit:before {
  background-color: #99a7ee;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 1rem;
  width: 4px;
}

.u-clickable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.annotation_label {
  word-wrap: break-word;
  word-break: break-word;
  font-family: Programme-Regular, Arial, sans-serif;
  font-size: 0.875em;
  margin-bottom: 1rem;
}

.annotation_label-underline {
  text-decoration: underline;
  cursor: pointer;
}

.rich_text_formatting {
  word-wrap: break-word;
  word-break: break-word;
  font: 100 1em/1.45 Programme-Regular, Arial, sans-serif;
}

.rich_text_formatting p {
  margin: 1rem 0;
}

.AnnotationSidebar a {
  color: #7d8fe8;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.rich_text_formatting blockquote {
  margin: 1rem 0 0 0.5rem;
  padding-left: 1em;
  position: relative;
  display: block;
}
blockquote,
q {
  quotes: none;
}
.rich_text_formatting blockquote:before {
  content: "\201C";
  position: absolute;
  top: -0.1em;
  left: -0.3em;
  font: bold 2.25em/1 "Times New Roman";
  color: inherit;
  opacity: 0.75;
}

.rich_text_formatting img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 325px;
  width: auto;
}

img {
  max-width: 100%;
}

.u-vertical_margins {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

// SQUARE BUTTON
button {
  appearance: auto;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
.square_button {
  border-color: #000;
  color: #000;
  word-wrap: break-word;
  word-break: break-word;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: transparent;
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-family: Programme-Regular, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0;
  text-align: center;
  padding: 0.25rem 0.5rem;
  vertical-align: top;
  -webkit-appearance: none;
}
.square_button {
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  user-select: none;
}
.square_button:hover {
  transition: none;
  background-color: rgba(204, 204, 204, 0.2);
}

.voting {
  margin-right: 0.5rem;
}

.voting {
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.square_button--transparent {
  background: 0 0;
  border-color: transparent;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.voting-button {
  color: #9a9a9a;
}
.voting-upvote {
  padding-left: 0;
}

.inline_icon {
  display: inline;
  fill: #000;
  height: 0.7em;
  overflow: visible;
  position: relative;
  vertical-align: middle;
}
.inline_icon--reading_size {
  height: 1em;
}
.inline_icon--up_1 {
  top: -1px;
}
.square_button .inline_icon {
  fill: #000;
}
.voting-button .inline_icon {
  fill: #9a9a9a;
}
.voting-upvote .inline_icon {
  top: -0.25em;
}

.voting-total {
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  color: #9a9a9a;
  font-family: Programme-Regular, Arial, sans-serif;
  padding-left: 0;
  padding-right: 0;
}
.voting-total--positive {
  color: #0ecb27;
}

.u-float_right {
  float: right;
}

.square_button--purple {
  // border-color: #99a7ee;
  color: #99a7ee;
}
.square_button--purple .inline_icon {
  fill: #99a7ee;
}

.square_button--gray {
  // border-color: #9a9a9a;
  color: #9a9a9a;
}
.square_button--gray .inline_icon {
  fill: #9a9a9a;
}
.square_button-right_icon_margin {
  margin-right: 0.125rem;
}
.inline_icon {
  display: inline;
  fill: #000;
  height: 0.7em;
  overflow: visible;
  position: relative;
  vertical-align: middle;
}
.inline_icon--up_2 {
  top: -2px;
}
.inline_icon--reading_size {
  height: 1em;
}
.inline_icon--gray {
  fill: #9a9a9a;
}
.inline_icon--up_1 {
  top: -1px;
}
.inline_icon--short {
  height: 0.35em;
}

hide:not(.ng-hide-animate) {
  display: none !important;
}
.u-vertical_margins {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.gray_container {
  background-color: rgba(204, 204, 204, 0.2);
  padding: 0.75rem;
}
.windows .gray_container {
  background-color: rgba(204, 204, 204, 0.35);
}
.u-bottom_margin {
  margin-bottom: 1rem;
}

.square_button--apple,
.square_button--email,
.square_button--facebook,
.square_button--google,
.square_button--twitter {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.square_button {
  -webkit-touch-callout: none;
  /* -webkit-user-select: none; */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.square_button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  color: #fff;
}
.square_button--facebook .inline_icon {
  height: 1.25em;
  fill: #fff;
}

.square_button--twitter {
  background-color: #55acee;
  border-color: #55acee;
  color: #fff;
}
.square_button--twitter .inline_icon {
  fill: #fff;
  height: 1.1em;
}

.ellipsis_menu-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin-bottom: 0.75rem;
}

.ellipsis_menu-label {
  min-width: 85px;
  width: 85px;
}

.ellipsis_menu-input {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
  min-width: 0;
  margin-right: 0.5rem;
}

.ellipsis_menu-row:last-of-type {
  margin-bottom: 0;
}

.gray_container {
  background-color: rgba(204, 204, 204, 0.2);
  padding: 0.75rem;
}
.windows .gray_container {
  background-color: rgba(204, 204, 204, 0.35);
}
.u-vertical_margins {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.u-large_bottom_margin {
  margin-bottom: 1.313rem;
}

.square_input_with_avatar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
}

.square_input_with_avatar-avatar {
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  padding-right: 0.75rem;
}

// element.style {
//     background-image: url(https://assets.genius.com/images/default_avatar_100.png?1611700455);
// }
.user_avatar--small {
  height: 24px;
  width: 24px;
  min-width: 24px;
}
.user_avatar {
  border-radius: 100%;
}
.clipped_background_image {
  background-position: center;
  background-size: cover;
}

.square_input_with_caret {
  position: relative;
}
.square_input_with_avatar-input {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.square_input {
  background: #fff;
  border: 0.15rem solid #ccc;
  border-radius: 0;
  color: #000;
  font-family: Programme, Arial, sans-serif;
  font-size: inherit;
  font-weight: 100;
  line-height: inherit;
  padding: 0.25rem;
  resize: vertical;
  -webkit-appearance: none;
}
.square_input--full_width {
  display: block;
  width: 100%;
}
.square_input--single_line_height {
  height: 2.2em;
  overflow: hidden;
  resize: none;
}

hide:not(.ng-hide-animate) {
  display: none !important;
}

*,
:after,
:before {
  box-sizing: border-box;
}
button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.square_button--green {
  border-color: #0ecb27;
  color: #0ecb27;
}
.square_button--green:hover {
  transition: none;
  background-color: rgba(14, 203, 39, 0.2);
}

.comment {
  border-top: 1px solid #99a7ee;
  display: block;
  margin-top: 1rem;
  padding-top: 1.5rem;
}

.user_badge_and_timestamp {
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.user_badge_and_timestamp-badge {
  overflow: hidden;
  margin-right: 1rem;
}

.user_badge {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  align-items: center;
  color: inherit;
  font-family: Programme, Arial, sans-serif;
  line-height: 1;
  position: relative;
  text-decoration: none;
}

// element.style {
//     background-image: url(https://assets.genius.com/images/default_avatar_32.png?1611700455);
// }
.user_badge {
  background-image: url(https://assets.genius.com/images/default_avatar_32.png?1611700455);
}
.user_avatar--x_small {
  height: 16px;
  width: 16px;
  min-width: 16px;
}
.user_avatar {
  border-radius: 100%;
}
.clipped_background_image {
  background-position: center;
  background-size: cover;
}

.user_badge-text {
  margin-left: 0.4em;
  overflow: hidden;
}

.user_badge-login_and_iq,
.user_badge-subhead {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user_badge-login {
  color: inherit;
}

.user_badge-iq--one_line,
.user_badge-subhead {
  font-size: 0.7em;
  letter-spacing: 0.05em;
}
.user_badge-iq--one_line {
  color: #9a9a9a;
}

.user_badge_and_timestamp-created_at {
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  -moz-align-self: flex-start;
  align-self: flex-start;
  color: #9a9a9a;
  font-family: Programme-Regular, Arial, sans-serif;
  font-size: 0.75em;
  min-width: 5em;
  text-align: right;
}

a.comment-reason {
  color: #9a9a9a;
  display: inline-block;
  font-family: Programme-Regular, Arial, sans-serif;
  font-size: 0.875em;
  margin-left: 1rem;
  padding-left: 0.4rem;
}

.comment-reason-title {
  border-bottom: 1px dotted #000;
  color: #000;
}

.comment-reason {
  color: #9a9a9a;
  display: inline-block;
  font-family: Programme, Arial, sans-serif;
  font-size: 0.875em;
  margin-left: 1rem;
  padding-left: 0.4rem;
}
.comment-reason-title {
  border-bottom: 1px dotted #000;
  color: #000;
}
