.Breadcrumbs {
  font-family: Programme-Regular, sans-serif;
  z-index: 1;
  word-break: break-word;
  color: #9a9a9a;
  font-size: 0.85em;
  margin: 1rem 0.5rem;
  position: relative;
  text-align: center;
}

.breadcrumb:before {
  content: "\00a0>\00a0";
  color: #ccc;
}
