// UserBadgeAndTimestamp.scss

.user_badge_and_timestamp {
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.user_badge_and_timestamp-badge {
  overflow: hidden;
  margin-right: 1rem;
}

.user_badge {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  align-items: center;
  color: inherit;
  font-family: Programme-Regular, Arial, sans-serif;
  line-height: 1;
  position: relative;
  text-decoration: none;
}

.user_avatar--x_small {
  height: 16px;
  width: 16px;
  min-width: 16px;
}

.user_avatar {
  border-radius: 100%;
}

.clipped_background_image {
  background-position: center;
  background-size: cover;
}

.user_badge-text {
  margin-left: 0.4em;
  overflow: hidden;
}

.user_badge-login_and_iq {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user_badge-login {
  color: inherit;
}

.user_badge-role_icon--contributor {
  fill: #fff;
}

.user_badge-role_icon {
  display: inline-block;
  height: 10px;
  position: relative;
  stroke: #000;
  stroke-width: 1px;
  width: 10px;
}

.user_badge-role_icon svg {
  overflow: visible;
}

.user_badge-iq--one_line {
  color: #9a9a9a;
}

.user_badge-iq--one_line {
  font-size: 0.7em;
  letter-spacing: 0.05em;
}

.user_badge_and_timestamp-created_at {
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  -moz-align-self: flex-start;
  align-self: flex-start;
  color: #9a9a9a;
  font-family: Programme-Regular, Arial, sans-serif;
  font-size: 0.75em;
  min-width: 5em;
  text-align: right;
}
