html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
  color: #222;
  font-family: Programme, Arial, sans-serif;
  line-height: 1.45;
}

ol,
ul {
  list-style: none;
}

.App {
  background-color: #f94960;
}

main {
  min-height: 70vh;
}

// app.scss
.Application {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
Link {
  text-decoration: none;
  color: inherit;
}
Link:hover {
  cursor: pointer;
}
a:-webkit-any-link {
  color: inherit;
  text-decoration: inherit;
}
a:-webkit-any-link:hover {
  cursor: pointer;
}
// .Application * {
//   border: 1px solid red;
//   box-sizing: border-box;
// }

.column_layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 970px;
  position: relative;
  width: 100%;
}
.header_with_cover_art-inner {
  z-index: 4;
  padding: 2.25rem 0 1.5rem 0;
  padding-top: 2.25rem;
  padding-right: 0px;
  padding-bottom: 1.5rem;
  padding-left: 0px;
  background: rgba(0, 0, 0, 0.6);
}
button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  cursor: pointer;
  text-shadow: 0px 0px 0px transparent;
}
button:active {
  outline: none;
  border: none;
}
button:focus {
  outline: 0;
}
.display-none {
  display: none;
}
.display-inherit {
  display: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
