
.column_layout {
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:-ms-flex;
  display:flex;
  margin-left:auto;
  margin-right:auto;
  max-width:970px;
  position:relative;
  width:100%;
}
.column_layout--centered {
  justify-content:center;
}
.column_layout--no_max_width {
  max-width:none;
}
.column_layout-flex_column {
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:-ms-flex;
  display:flex;
  -webkit-box-orient:vertical;
  -moz-box-orient:vertical;
  -webkit-flex-direction:column;
  -moz-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
}
.column_layout-flex_column-fill_column {
  -webkit-box-flex:1;
  -moz-box-flex:1;
  -webkit-flex:1;
  -moz-flex:1;
  -ms-flex:1;
  flex:1;
  position:relative;
}
.column_layout-column_span {
  box-sizing:border-box;
}
.column_layout-column_span--primary {
  width:58%;
  padding:0 1rem;
}
@media screen and (max-width:1099px) {
  .column_layout-column_span--primary {
    padding-left:1.5rem;
  }
}
.column_layout-column_span--secondary {
  z-index:1;
  width:42%;
  position:relative;
  padding-right:1rem;
}
.column_layout-column_span--half,.column_layout-column_span--one_quarter,.column_layout-column_span--three_quarter {
  padding-left:1rem
}

.column_layout-column_span--half:first-child:not(.column_layout-column_span--force_padding),
.column_layout-column_span--one_quarter:first-child:not(.column_layout-column_span--force_padding),
.column_layout-column_span--three_quarter:first-child:not(.column_layout-column_span--force_padding) {
  padding-left:0;
}

.column_layout-column_span--full {
  width:100%;
}
.column_layout-column_span--three_quarter {
  width:75%;
}
.column_layout-column_span--half {
  width:50%;
}
.column_layout-column_span--one_quarter {
  width:25%;
}
.column_layout-column_span-initial_content {
  padding-left:1.4rem
}
.column_layout-column_span--big_left_margin {
  padding-left:4.5rem;
}