body {
  background: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
}

.FeaturedStories {
  padding: 4.5rem 60px 0px;
  background-color: rgb(255, 255, 255);
}

.PageGrid {
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  grid-template-columns: [grid-start] repeat(3, minmax(14px, 44px)) [center-start] repeat(6, minmax(14px, 44px)) [center-end] repeat(3, minmax(14px, 44px)) [grid-end];
  gap: 40px 60px;
}

.HeroStory {
  grid-column: span 5 / auto;
}

.HeroStory .Container {
  color: rgb(0, 0, 0);
  font-weight: 100;
  line-height: 1.125;
  height: 100%;
  min-height: inherit;
}

.HeroStory .Container .Link {
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: inherit;
  a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.HeroStory .Container .Link .Header {
  margin-bottom: 1rem;
}
.HeroStory .Container .Link .Header .Label {
  display: flex;
}
.HeroStory .Container .Link .Header .Label::after {
    content: "";
    border-bottom: 0.15rem solid rgb(0, 0, 0);
    flex: 1 1 0%;
    margin-left: 0.5rem;
    position: relative;
    top: calc(-0.375rem);
}
.HeroStory .Container .Link .Header .Label .TextLabel {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.HeroStory .Container .Link .Header .Title {
  margin-top: 1rem;
  font-size: 2.25rem;
}
.HeroStory .Container .Link .Header .Title h2 {
  display: inline;
  font-size: 100%;
  font-weight: inherit;
}
.HeroStory .Container .Link .Header .Body {
  margin-top: 0.5rem;
}
.HeroStory .Container .Link .Byline {}
.HeroStory .Container .Link .Byline .Author {
  font-size: 0.75rem;
}
.HeroStory .Container .Link .Byline .PublishedAt {
  font-size: 0.75rem;
  color: rgb(154, 154, 154);
}

.HeroImageLink {
  grid-column: span 7 / auto;
  a {
    color: rgb(125, 143, 232);
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.HeroImageLink .SizedImageContainer {
  // background-image: url(https://t2.genius.com/unsafe/338x338/https%3A%2F%2Fimages.genius.com%2F8e81582….1000x1000x1.jpg);
  position: relative;
  // padding-bottom: 56.25%;
  background: center center / auto calc(100% + 1px) repeat-x rgb(255, 255, 255);
}

.NewsStory {
  grid-column: span 3 / auto;
  min-height: 400px;
  position: relative;
}

.NewsStory::before {
  content: "";
  position: absolute;
  top: calc(0.075rem);
  right: calc(-30px - 0.075rem);
  height: 100%;
  min-height: inherit;
  border-right: 0.15rem solid rgb(0, 0, 0);
}

.NewsStory .Container {
  color: rgb(0, 0, 0);
  font-weight: 100;
  line-height: 1.125;
  height: 100%;
  min-height: inherit;
}

.NewsStory .Container .Link {
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: inherit;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.NewsStory .Container .Link .Header {
  margin-bottom: 1rem;
}

.NewsStory .Container .Link .Header .Label {
  display: flex;
}

.NewsStory .Container .Link .Header .Label .TextLabel {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.NewsStory .Container .Link .Header .Title {
  margin-top: 0.75rem;
  font-size: 1.5rem;
}

.NewsStory .Container .Link .Header .Title h2 {
  display: inline;
  font-size: 100%;
  font-weight: inherit;
}

.NewsStory .Container .Link .Byline {}
.NewsStory .Container .Link .Byline .Author {
  font-size: 0.75rem;
}
.NewsStory .Container .Link .Byline .PublishedAt {
  font-size: 0.75rem;
  color: rgb(154, 154, 154);
}


.NewsStory .Container .Link .Image {
  margin-top: 0.5rem;
  min-height: 140px;
}

.NewsStory .Container .Link .Image .SizedImageContainer {
  background-image: url(https://t2.genius.com/unsafe/338x338/https%3A%2F%2Fimages.genius.com%2F8e81582….1000x1000x1.jpg);
  position: relative;
  padding-bottom: 56.25%;
  background: center center / auto calc(100% + 1px) repeat-x rgb(165, 22, 22);
}



.NewsFeedItem {
  padding: 1em;
  list-style-type: none;
  border-radius: 6px;
  margin-bottom: 1em;
  background: #fff;
  box-shadow: 0px 2px 6px 2px #0002;
}

.NewsFeedItem .title {
  font-size: 100%;
}

.NewsFeedItem .description {
  margin: 1em 0;
}

.NewsFeedItem .thumbnail {
  float: right;
  box-shadow: 0px 1px 1px 1px #0002;
  border-radius: 12px;
  margin-left: 1em;
  margin-bottom: 1em;
}

.NewsFeedItem .meta {
  font-size: 80%;
  font-weight: bold;
  color: #555;
}

.NewsFeedItem .provider-thumbnail {
  margin-right: 0.5em;
}

.NewsFeedItem .meta > *:not(:last-child) {
  margin-right: 2em;
}
