// SongPage
.song_body {
  z-index: 3;
  background-color: #fff;
  position: relative;
}

// SongLyrics
.song_body-lyrics {
  font-family: Programme-Light,Programme-Regular,Arial,sans-serif;
}
.text_label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  word-wrap: break-word;
  word-break: break-word;
  color: inherit;
  text-transform: uppercase;
  margin-right: .1em;
  letter-spacing: .04em;
  font-size: .875rem;
  font-family: Programme-Regular,Arial,sans-serif;
}
.text_label--gray {
  color: #9a9a9a;
}
.text_label--x_small_text_size {
  font-size: .75rem;
}
.u-top_margin {
  margin-top: 1rem;
}
.lyrics {
  margin-top: 1.5rem;
  font-size: 1.125em;
  word-break: break-word;
  line-height: 1.7em;
  font-weight: 100;
}
.referent {
  background-color: #ddd;
  box-shadow: 0.01em 0 0 #ddd, -0.01em 0 0 #ddd;
  color: #000;

  transition: background-color .1s,box-shadow .1s;
  position: relative;

  word-break: break-word;
  display: inline;
  font-family: inherit;
  line-height: 1.7em;
  padding: .2em 0;
  text-decoration: none;
}
.referent--yellow:hover {
  background-color: #ffff64;
  box-shadow: 0.01em 0 0 #ffff64, -0.01em 0 0 #ffff64;
}
.referent--highlighted {
  background-color: #ffff64;
  box-shadow: 0.01em 0 0 #ffff64, -0.01em 0 0 #ffff64;
}

.referent--green {
  background-color: #99f2a5;
  box-shadow: 0.01em 0 0 #99f2a5, -0.01em 0 0 #99f2a5;
}

// SongAbout
.annotation_label {
  word-break: break-word;
  font-family: Programme-Regular,Arial,sans-serif;
  font-size: .875em;
  margin-bottom: 1rem;
}
.annotation_body {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 100;
  font-stretch: normal;
  font-size: 1em;
  line-height: 1.45;
  font-family: Programme-Light, Arial, sans-serif;
}

// SongTrackInfo

.u-xx_large_vertical_margins {
  margin-bottom: 2.25rem;
  margin-top: 2.25rem;
}

.u-x_small_bottom_margin {
  margin-bottom: .375rem;
}

.metadata_unit--table_row {
  display: flex;
  padding-top: .25rem;
  border-top: 1px solid #e9e9e9;
  margin-top: .25rem;
}

.metadata_unit {
  -webkit-font-smoothing: antialiased;
  line-height: 1.45;
  font-size: 1em;
  font-family: Programme-Regular,Arial,sans-serif;
  color: #9a9a9a;
}

.metadata_unit-label {
  -webkit-box-flex: 2;
  flex: 2;
  padding-right: .5rem;
}

.metadata_unit-info {
  -webkit-box-flex: 5;
  flex: 5;
}

.metadata_unit-info a {
  color: #7d8fe8;
}

// SongAlbum
.u-xx_large_vertical_margins {
  margin-bottom: 2.25rem;
  margin-top: 2.25rem;
}

.u-bottom_margin {
  margin-bottom: 1rem;
}

.song_album {
  display: flex;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  font-family: Programme-Regular,Arial,sans-serif;
}

.song_album a {
    color: #000;
}

.song_album-album_art {
  display: flex;
  min-width: 64px;
  width: 64px;
}

.song_album-info {
  margin-left: 1rem;
}

.song_album-info-title {
  display: block;
  font-size: 1.313em;
  line-height: 1.125;
}

.song_album-info-release_year {
  color: #9a9a9a;
}

.song_album-info-artist {}

.track_listing {
  font-feature-settings: "tnum";
  color: #000;
  font-family: Programme-Regular,Arial,sans-serif;
}

.track_listing a:hover {
  color: #666;
}

.track_listing--columns {
  columns: 2;
}

.track_listing-track {
  word-break: break-word;
  line-height: 1.65;
}

.track_listing-track--current {
    color: #9a9a9a;
}