.bMwme {
  padding: 4.5rem 60px;
  background-color: rgb(255, 255, 255);
}

.csQZGy {
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  grid-template-columns:
    [grid-start] repeat(3, minmax(14px, 44px)) [center-start] repeat(
      6,
      minmax(14px, 44px)
    )
    [center-end] repeat(3, minmax(14px, 44px)) [grid-end];
  gap: 40px 60px;
}

.fOxcvG {
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  grid-template-columns:
    [grid-start] repeat(3, minmax(14px, 44px)) [center-start] repeat(
      6,
      minmax(14px, 44px)
    )
    [center-end] repeat(3, minmax(14px, 44px)) [grid-end];
  column-gap: 60px;
  grid-column: grid-start / grid-end;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.fEyCAH {
  grid-column: grid-start / grid-end;
  color: rgb(0, 0, 0);
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
}

.khEySD {
  grid-column: center-start / center-end;
  margin-top: 0.5rem;
  text-align: center;
}

.khEySD h3 {
  line-height: 1.45;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.cnLWXM {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(255, 20, 100);
}

//

// TopSongs body
d .jeWXO {
  grid-column: grid-start / grid-end;
}

.qsIlk {
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  grid-template-columns:
    [grid-start] repeat(3, minmax(14px, 44px)) [center-start] repeat(
      6,
      minmax(14px, 44px)
    )
    [center-end] repeat(3, minmax(14px, 44px)) [grid-end];
  gap: 40px 60px;
  color: inherit;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  grid-auto-rows: minmax(75px, auto);
  border-bottom: 0.15rem solid rgb(233, 233, 233);
  font-size: 1.5rem;
  transition: background-color 0.1s ease 0s;
}
a {
  color: rgb(125, 143, 232);
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tDViA {
  grid-column: span 1 / auto;
  font-size: 1.5rem;
  font-weight: 100;
  align-self: flex-start;
  margin-top: 20px;
  text-align: center;
}

.jzapEV {
  grid-column: span 5 / auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.fmhUTz {
  flex-shrink: 0;
}

.gbSJon[data-visible="true"] {
  background-image: url("https://t2.genius.com/unsafe/60x60/https%3A%2F%2Fimages.genius.com%2Ffab4ec4c1211a7806e6995e70c02421e.300x300x1.png");
}

.gbSJon {
  position: relative;
  width: 60px;
  height: 60px;
  background: 0% 0% / cover rgb(233, 233, 233);
}

.dCmTwE {
  margin-left: 30px;
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

.fODYHn {
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0.5rem;
}

.ksRthp {
  position: relative;
  top: -2px;
}

.xwDpb {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(154, 154, 154);
}

.kiggdb {
  grid-column: span 3 / auto;
  font-weight: 100;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dWDPoY {
  grid-column: span 3 / auto;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.jfdPdw {
  flex: 1 1 0%;
  max-width: 50%;
}

.hliVmp {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.ixtWtE {
  width: 1rem;
  margin-right: 0.5rem;
  position: relative;
  top: -2px;
  flex-shrink: 0;
}

.ixtWtE svg {
  display: block;
  height: 100%;
  overflow: visible;
  fill: rgb(255, 20, 100);
}

.cdJbFg {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(255, 20, 100);
}

.jfdPdw {
  flex: 1 1 0%;
  max-width: 50%;
}

.hliVmp {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.GcnrE {
  width: 1rem;
  margin-right: 0.5rem;
  position: relative;
  top: 0px;
  flex-shrink: 0;
}

.GcnrE svg {
  display: block;
  height: 100%;
  overflow: visible;
  fill: rgb(0, 0, 0);
}

.ljPCDr {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
